<% include /src/include/header.ejs %>
<main class="Site-content">
    <div class="container">
        <div class="row">
            <span class="text-gray-lighten fs-7 my-4">خانه > لوازم جانبی موبایل > هندزفری > هندزفری AKG سامسونگ</span>
        </div>
    </div>
    <div class="container">
        <div class="row flex-lg-nowrap justify-content-center justify-content-lg-start">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <h5 class="fw-bold text-gray d-none d-lg-block">هندزفری AKG سامسونگ - Samsung EO-IG955 AKG Earphone</h5>
                <div class="d-flex justify-content-between align-items-baseline my-1 max-570 d-none d-lg-flex">
                    <span class="text-primary text-nowrap">۳.۴ (۸۲)<img src="./images/Vector.svg" class="icon-star ps-1" alt=""></span>
                    <p class="text-nowrap"><span class="text-muted pe-1">دسته:</span>لوازم جانبی موبایل</p>
                    <p class="text-nowrap"><span class="text-muted pe-1">کد کالا:</span>۴۲۷۷</p>
                    <div><img src="./images/Share Product.svg" class="icon-share pe-2" alt=""><img src="./images/Like Product.svg" class="icon-like" alt=""></div>
                </div>
                <div class="d-flex flex-column flex-sm-row justify-content-between border border-primary rounded-4 shadow p-3 max-570 mx-auto mx-lg-0">
                    <div class="d-flex flex-column">
                        <div class="d-flex mb-3 align-items-center">
                            <span class="text-gray pe-2">رنگ</span>
                            <div class="circle bg-gray active-circle rounded-circle"></div>
                            <div class="circle bg-gray-light rounded-circle"></div>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="text-gray pe-2">تعداد</span>
                            <div class="circle rounded-circle active-circle text-center">۱</div>
                            <div class="circle rounded-circle text-center">۲</div>
                            <div class="circle rounded-circle text-center">۳</div>
                            <div class="circle rounded-circle text-center">۴</div>
                            <div class="circle rounded-circle text-center">۵</div>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <div class="d-flex mb-2 mb-sm-3">
                            <del class="pe-2 text-muted">۵۹۹,۰۰۰</del>
                            <span class="text-gray fw-bold pe-2">۳۹۹,۰۰۰</span>
                            <span class="text-gray">تومان</span>
                        </div>
                        <button class="d-flex bg-primary py-2 px-3 rounded-4 btn">
                            <img src="./images/Cart-white.svg" alt="">
                            <span class="text-white ps-2">افزودن به سبد خرید</span>
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-around mt-3 max-570 mx-auto mx-lg-0">
                    <div>
                        <div class="mt-2">
                            <img src="./images/medal-star-p.svg" alt="">
                            <span>ضمانت اصل بودن کالا</span>
                        </div>
                        <div class="mt-2">
                            <img src="./images/group-p.svg" alt="">
                            <span>تحویل اکسپرس</span>
                        </div>
                    </div>
                    <div>
                        <div class="mt-2">
                            <img src="./images/3d-rotate-p.svg" alt="">
                            <span>ضمانت ۷ روزه بازگشت</span>
                        </div>
                        <div class="mt-2">
                            <img src="./images/moneys-p.svg" alt="">
                            <span>پرداخت در محل</span>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    <div class="title text-gray fw-bold pb-2">ویژگی‌های این محصول:</div>
                    <ul class="text-gray">
                        <li>اصلی و اورجینال</li>
                        <li>مناسب برای تمامی دستگاههای دارای جک 3.5 میلیمتری صدا</li>
                        <li>دارای دکمه های کنترلی play/pause, volume</li>
                        <li>ظاهری زیبا و ارگونومیک</li>
                        <li>۱۴.۷۴ گرم</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 overflow-hidden ms-xl-5 max-570 order-1 order-lg-2">
                <h5 class="fw-bold text-gray d-block d-lg-none mb-3">هندزفری AKG سامسونگ - Samsung EO-IG955 AKG Earphone</h5>
                <div class="d-flex align-items-baseline my-1 max-570 d-block d-lg-none">
                    <p class="text-nowrap me-4"><span class="text-muted pe-1">دسته:</span>لوازم جانبی موبایل</p>
                    <p class="text-nowrap"><span class="text-muted pe-1">کد کالا:</span>۴۲۷۷</p>
                </div>
                <div class="mb-2 w-auto">
                    <img src="./images/p-1.svg" class="w-100" alt="">
                </div>
                <div>
                    <div class="owl-carousel owl-theme owl-page">
                        <div class="item"><a href="#"><img src="./images/page1.svg" alt=""></a></div>
                        <div class="item"><a href="#"><img src="./images/page2.svg" alt=""></a></div>
                        <div class="item"><a href="#"><img src="./images/page3.svg" alt=""></a></div>
                        <div class="item"><a href="#"><img src="./images/page4.svg" alt=""></a></div>
                        <div class="item"><a href="#"><img src="./images/page5.svg" alt=""></a></div>
                        <div class="item"><a href="#"><img src="./images/page6.svg" alt=""></a></div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-baseline my-2 max-570 d-lg-none">
                    <span class="text-primary text-nowrap">۳.۴ (۸۲)<img src="./images/Vector.svg" class="icon-star ps-1" alt=""></span>
                    <div><img src="./images/Share Product.svg" class="icon-share pe-2" alt=""><img src="./images/Like Product.svg" class="icon-like" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <span class="text-gray fw-bold lh-lg fs-5">درباره این محصول</span>
                <p class="text-gray">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
            </div>
            <div class="col-12 col-md-6 mt-3">
                <img src="./images/p-2.svg" class="mx-auto d-block w-100" alt="">
            </div>
            <div class="col-12 col-md-6 mt-3">
                <img src="./images/p-1.svg" class="mx-auto d-block w-100" alt="">
            </div>
            <span class="mt-4 py-3 fw-bold fs-5 text-gray">مشخصات فنی</span>
            <div class="col-12 col-md-6">
                <div class="border rounded-4 py-2 px-3 d-flex justify-content-between bg-gray-light mb-3">
                    <span>مدل</span>
                    <span>EO-IG955 Tuned by AKG</span>
                </div>
                <div class="border rounded-4 py-2 px-3 d-flex justify-content-between bg-gray-light mb-3">
                    <span>وزن</span>
                    <span>۱۴.۷۴ گرم</span>
                </div>
                <div class="border rounded-4 py-2 px-3 d-flex justify-content-between bg-gray-light mb-3">
                    <span>دکمه های کنترلی</span>
                    <span>play/pause, volume</span>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="border rounded-4 py-2 px-3 d-flex justify-content-between bg-gray-light mb-3">
                    <span>نوع اتصال</span>
                    <span>با سیم - جک 3.5 mm</span>
                </div>
                <div class="border rounded-4 py-2 px-3 d-flex justify-content-between bg-gray-light mb-3">
                    <span>کیفیت خروجی صدا</span>
                    <span>فلت و شفاف</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container panels">
        <div class="row">
          <div class="d-flex justify-content-between align-items-center position-relative mt-md-3 mt-xl-4">
            <span class="text-primary fs-4 fw-bold text-nowrap">محصولات مرتبط</span>
            <div class="d-none d-md-block line mx-3 border-primary border-3 border-top flex-grow-1"></div>
            <div class="more-button text-nowrap">
              <button type="button" class="btn btn-outline-primary rounded-4">مشاهده بقیه محصولات مرتبط
                <img src="./images/arrow-left-blue.svg" class="ps-2" alt="">
              </button>
            </div>
          </div>
        </div>
        <div class="row position-relative products-panel-page">
          <div class="owl-carousel owl-products-panel-page owl-theme">
            <!-- 1 -->
            <div class="item">
              <div class="d-flex flex-column align-items-center">
                <div>
                  <img src="./images/panel2-1.svg" alt="">
                </div>
                <div class="price-box rounded-4 d-flex flex-column p-3 position-relative">
                  <div class="pb-2"><span class="text-gray">پاوربانک سوپرفست 10000 سامسونگ</span></div>
                  <div class="d-flex justify-content-between">
                    <span class="text-gray">۷۸۹,۰۰۰ تومان</span>
                    <div class="d-flex ps-3 text-nowrap">
                      <span class="text-primary text-nowrap pe-1">۴ (۵۸)</span>
                      <img src="./images/Vector.svg" class="star" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 2 -->
            <div class="item">
              <div class="d-flex flex-column align-items-center">
                <div>
                  <img src="./images/panel2-2.svg" alt="">
                </div>
                <div class="price-box rounded-4 d-flex flex-column p-3 position-relative">
                  <div class="pb-2"><span class="text-gray text-nowrap">قاب محافظ نیلکین سامسونگ گلکسی نوت ۸</span></div>
                  <div class="d-flex justify-content-between">
                    <span class="text-gray">۱۶۹,۰۰۰ تومان</span>
                    <div class="d-flex ps-3 text-nowrap">
                      <span class="text-primary text-nowrap pe-1">۳.۷ (۶۶)</span>
                      <img src="./images/Vector.svg" class="star" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 3 -->
            <div class="item">
              <div class="d-flex flex-column align-items-center">
                <div>
                  <img src="./images/panel2-3.svg" alt="">
                </div>
                <div class="price-box rounded-4 d-flex flex-column p-3 position-relative">
                  <div class="pb-2"><span class="text-gray">هاب USB 3 و کارتخوان اوریکو</span></div>
                  <div class="d-flex justify-content-between">
                    <span class="text-gray">۴۹۹,۰۰۰ تومان</span>
                    <div class="d-flex ps-3 text-nowrap">
                      <span class="text-primary text-nowrap pe-1">۴ (۸)</span>
                      <img src="./images/Vector.svg" class="star" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 4 -->
            <div class="item">
              <div class="d-flex flex-column align-items-center">
                <div>
                  <img src="./images/panel2-2.svg" alt="">
                </div>
                <div class="price-box rounded-4 d-flex flex-column p-3 position-relative">
                  <div class="pb-2"><span class="text-gray text-nowrap">قاب محافظ نیلکین سامسونگ گلکسی نوت ۸</span></div>
                  <div class="d-flex justify-content-between">
                    <span class="text-gray">۷۸۹,۰۰۰ تومان</span>
                    <div class="d-flex ps-3 text-nowrap">
                      <span class="text-primary text-nowrap pe-1">۴ (۵۸)</span>
                      <img src="./images/Vector.svg" class="star" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 5 -->
            <div class="item">
              <div class="d-flex flex-column align-items-center">
                <div>
                  <img src="./images/panel2-3.svg" alt="">
                </div>
                <div class="price-box rounded-4 d-flex flex-column p-3 position-relative">
                  <div class="pb-2"><span class="text-gray">هاب USB 3 و کارتخوان اوریکو</span></div>
                  <div class="d-flex justify-content-between">
                    <span class="text-gray">۷۸۹,۰۰۰ تومان</span>
                    <div class="d-flex ps-3 text-nowrap">
                      <span class="text-primary text-nowrap pe-1">۴ (۵۸)</span>
                      <img src="./images/Vector.svg" class="star" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 6 -->
            <div class="item">
              <div class="d-flex flex-column align-items-center">
                <div>
                  <img src="./images/panel2-1.svg" alt="">
                </div>
                <div class="price-box rounded-4 d-flex flex-column p-3 position-relative">
                  <div class="pb-2"><span class="text-gray">پاوربانک سوپرفست 10000 سامسونگ</span></div>
                  <div class="d-flex justify-content-between">
                    <span class="text-gray">۷۸۹,۰۰۰ تومان</span>
                    <div class="d-flex ps-3 text-nowrap">
                      <span class="text-primary text-nowrap pe-1">۴ (۵۸)</span>
                      <img src="./images/Vector.svg" class="star" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-nav position-absolute top-50 start-50 translate-middle d-flex justify-content-between">
            <button class="right-arrow btn position-absolute">
              <img src="https://img.icons8.com/material-rounded/32/6366F1/chevron-right.png"/>
            </button>
            <button class="left-arrow btn position-absolute">
              <img src="https://img.icons8.com/material-rounded/32/6366F1/chevron-left.png"/>
            </button>
          </div>
        </div>
      </div>
    <!-- comments -->
    <div class="container">
        <div class="row mt-4">
            <span class="fw-bold fs-5 text-gray">نظرات</span>
        </div>
    </div>
</main>
<% include /src/include/footer.ejs %>